body {
    margin: 0;
    background-color: darkslateblue;
    font-family: 'Digital Numbers', sans-serif;
    background-image: url("./basket.webp");
    text-shadow: 0 0 1px black;
}
.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
h1 {

    text-align: center;
    background-color: black;
    color: red;
    border-radius: 5px;
    font-size: 60px;
    width: 150px;
    height: 100px;
    padding-top: 20px;
    border: 2px solid white;
}
h3 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 5px;
    color: white;     
    font-family: sans-serif
}
.buttons {
    display: flex;
    justify-content: space-around;
}
button {
    border-color: white;
    border-radius: 3px;
    border-color: rgb(189, 216, 235);
    background-color: darkslateblue;
    color: rgb(189, 216, 235);
    padding: 3px 5px;
    cursor: pointer;
}
#new-game {
    background-color: rgb(100, 19, 150);
    padding: 8px 30px;
    display: flex;
    margin: auto;
}